/* Variables */
$gray: #989898;
$blue: #7ED2E9;

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Grid Items */

.app {
    text-align: center;

    &-logo {
        animation: logo-fade 2s linear;
        width: 125px;
    }

    &-header {
        height: 30%;
        padding: 20px;
        color: #FFF;
        font-family: sans-serif;

        img {
            float: right;
        }

        h2 {
            color: $blue;
            line-height: .3;
            font-family: 'Tenali Ramakrishna', sans-serif;
            font-size: 2.2em;
        }

        p {
            margin-top: 200px;
            font-size: 1.5em
        }
    }

    &-header,
    &-sms {
        background-color: #222;
    }

    &-title {
        font-size: 2em;
        font-weight: 100;
        line-height: 0;
        color: #fff;
        padding-bottom: 65px;
        margin: 1px;
    }

    &-intro {
        line-height: 0;
    }

    &-not {
        line-height: 0;
        color: $blue;
        display: block;
        padding: 10px;
        position: absolute;
        top: 50px;
        left: 50px;
        border-radius: 60px;
        padding: 35px 8px;
        text-decoration: none;
        cursor: pointer;
        font-weight: bold;
        &:hover {
            background-color: orange;
        }
    }

    &-weather {
        height: 35%;
    }

    &-temp {
        font-size: 4em;
        color: $blue;
        padding: 15px;
        margin: 0;

        &>span {
            color: $gray;
            font-weight: 400;
            text-transform: lowercase;
            padding-bottom: .5em;
            display: inline-block;
        }

        &:before {
            content: "\B0";
            position: relative;
            left: 60px;
        }
    }
}

@keyframes logo-fade {
    from {
        transform: translateX(50px);
        opacity: 0;
    }

    to {
        transform: translateX(0px);
        opacity: 1;
    }
}